.container {
    padding: 20px;
}

#qcm-container {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    /* shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choix {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.choix input {
    margin-left: -10px !important;
}

.choix>label {
    padding-left: 10px;
    display: block;
    cursor: inherit;
}

form h2 {
    font-size: 1.2em;
}

.question-text {
    white-space: pre-wrap;
}

.decalage {
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 65500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}