.container {
    padding: 20px;
}

#qcm-container {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    /* shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    font-size: 1.2em;
}

.decalage {
    padding-top: 10px;
    padding-bottom: 10px;
}